<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border='1px' width='600px'>
        <tr>
            <th>学生姓名</th>
            <th>选修课程</th>
            <th>教授老师</th>
        </tr>
        {% for stu in students %}
            {% for course in stu.courses.all() %}
                <tr>
                    <td>{{stu.sname}}</td>
                    <td>{{course.cname}}</td>
                    <td>{{te.tname}}</td>
                </tr>

            {% endfor %}         
        {% endfor %}
    </table>
</body>
</html>